/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
  font-family: 'Revalia' !important;
}
h2, .mat-mdc-menu-item-text {
  font-family: 'Revalia' !important;
}
body { margin: 0; }
