.settings-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #c8c8c8;
  padding: 30px;
  border-radius: 6px;
  z-index: 2;
  margin-left: 20px;
}

.submit-settings-btn {
  background-color: rgb(62, 53, 53) !important;
  color: white !important;
  cursor: pointer !important;
  z-index: 5;
}

.submit-settings-btn:hover {
  background-color: #1a120e !important;
}

.settings-panel{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.settings-column {
  margin-left: 10px;
  margin-right: 10px;
}
