<form class="settings-form" [formGroup]="generalSettingsForm" autocomplete="off" novalidate (ngSubmit)="saveSettings(generalSettingsForm.value)" fxLayout="column wrap"
    fxLayoutAlign="center center" fxLayoutGap="10px">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput placeholder="City" type="text" formControlName="city" id="city">
        <mat-icon matSuffix>location_on</mat-icon>
        <mat-hint>Fill city for weather & forecast</mat-hint>
        <mat-error *ngIf="hasError('city', 'required')">City is required</mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Forecast Days</mat-label>
        <input matInput placeholder="Forecast Days" type="number" formControlName="forecastDays" id="forecastDays">
        <mat-icon matSuffix>calendar_today</mat-icon>
        <mat-hint>Fill number of days to forecast</mat-hint>
        <mat-error *ngIf="hasError('forecastDays', 'min') || hasError('forecastDays', 'max')">Value must be between 1 and 3</mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" type="text" formControlName="email" id="email">
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint>Email to be notified for alerts</mat-hint>
        <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
        <mat-error *ngIf="hasError('email', 'email')">Not a valid email</mat-error>
      </mat-form-field>
    </p>

    <button mat-flat-button class="submit-settings-btn" type="submit">Submit</button>
</form>
