<div id="weather-page-wrapper">
  <div id="weather-wrapper">
    <div id="weather-data-wrapper">
      <h2>Weather : <br><p>{{city}}</p></h2>
      <p>Current Temperature: <span>{{ weather.tempC }}°C / {{ weather.tempF }}°F</span></p>
      <p>Feels Like: <span>{{ weather.feelsLikeC }} °C / {{ weather.feelsLikeF }} °F</span></p>
      <p>Condition: <span>{{ weather.text }}</span></p>
      <p>Wind: <span>{{ weather.windKph }} km/h / {{ weather.windMph }} mph</span></p>
      <p>Precip: <span>{{ weather.precipMm }} mm / {{ weather.precipIn }} in</span></p>
      <p>Air Humidity: <span>{{ weather.humidity }}%</span></p>
      <p>Pressure: <span>{{ weather.pressureMb }} mb / {{ weather.pressureIn }} in</span></p>
    </div>
    <div id="weather-image-wrapper">
      <img src="assets/partly cloudy.png" id="weather-image"/>
    </div>
  </div>
</div>




